@model List<Project>

@foreach (var item in Model)
{
<div class="item">
    <div class="gtco-item">
        <a href="#"><img src="~/images/@item.img" alt="" class="img-responsive"></a>
        <h2><a href="#">@item.Header</a></h2>
        <p class="role">@item.Text</p>
    </div>
</div>
}

